body {
  font-family: Mukta, sans-serif;
}
main {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  margin: 20px;
  border: 2px;
  border-radius: 16px;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(top-view-matcha-tea-with-wooden-scoop-teapot.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 400px;
  padding-left: 0;
  padding-right: 0;

}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  350px;
  height: 300px;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%;
  margin: 20px 0;
  font-size: 0.9rem;
  text-align: center;
}

table{
  border-collapse: collapse;
  box-shadow: 0px 5px 10px #e1e5ee;
  overflow: hidden;
  overflow-y: auto;
  max-height: 300px;
}

thead{
  box-shadow: 0px 5px 10px #e1e5ee;
}

th{
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  font-size: 0.7rem;
  font-weight: 900;
  text-align: center;
}

td{
  padding: 1rem 2rem;
  border: none;
}

tr:nth-child(even){
  background-color: #f4f6fb;
}

.status{
  display: inline-flex;
  justify-content: center;
  border-radius: 0.2rem;
  background-color: gray;
  padding: 0.2rem 1rem;
  text-align: center;
  width: 120px;
  box-sizing: border-box; 
}

.status.status-is{
  background-color: #c8e6c9;
  color: #388e3c;
}

.status.status-oos{
  background-color: #ffcdd2;
  color: #c62828;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 12px;
  text-align: left;
}

footer .col-1 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
